@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-main-100: #00837d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

button,
a,
select {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
